.nav_bar {
    overflow: hidden;
    background-color: #fc9003;
}
.nav_bar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.nav_bar a:hover {
    background-color: white;
    color: black;
}

body {
    font-family: Arial;
    background-image: url("../Images/back_image_1.jpg");
    height: auto;
    max-width: auto;
}
h1 {
    font-size: 40px;
    text-align: center;
}
h2 {
    font-size: 20px;
    text-align: center;
}
.index_button {
    background-color: #fc9003;
    border: none;
    color: white;
    padding: 0px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 5px;
    transition-duration: 0.4s;
    cursor: pointer;
}
.index_button {
  background-color: white;
  color: black;
  border: 2px solid #fc9003;
}

.index_button:hover {
    background-color: #fc9003;
    color: white;
}
.index_button a:link {
    text-decoration: none;
    color:black;

}
.cardio_items img{
    width: 100px;
    height: 120px;
    margin: 10px;
    float: right;
    margin-right: 80%;
}
.cardio_items li {
    font-size: 25px;
    margin-bottom: 120px;
}
.cardio_items img:hover {
    opacity: 0.5;
}
.cardio_items_description {
    font-size: 25px;
    margin: 40px;
    text-align: justify;
}
.strength_items img{
    width: 100px;
    height: 120px;
    margin: 10px;
    float: right;
    margin-right: 80%;
}
.strength_items li {
    font-size: 25px;
    margin-bottom: 120px;
}
.strength_items img:hover {
    opacity: 0.5;
}
.strength_items_description {
    font-size: 25px;
    margin: 40px;
    text-align: justify;
}
